<div id="portfoliowrap">
  <h3>Veja mais</h3>

  <div class="portfolio-centered">
    <div class="recentitems portfolio">
      <% [1,2,3,4,5,6,7,8,9,10].forEach(function (photo) { %>
      <div class="portfolio-item graphic-design">
        <div class="he-wrap tpl6">
          <img src="assets/img/kit-iot-4g/thumbs/kit-iot-4g.jpg">
          <div class="he-view">
            <div class="bg a0" data-animate="fadeIn">
              <h3 class="a1" data-animate="fadeInDown">Kit IoT</h3>
              <a data-rel="prettyPhoto" href="assets/img/kit-iot-4g/kit-iot-4g.jpg" class="dmbutton a2" data-animate="fadeInUp">
                <i class="fa fa-search"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <% }) %>
    </div>
  </div>
</div>
