<div class="main-banner">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h1 class="main-banner-title xx-text-size">404</h1>
        <h3 class="main-banner-subtitle">Whoops. Parece que não encontramos a pagina procurada.</h3>
        <h4 class="main-banner-subtitle">Utilize o menu para navegar no site.</h4>
      </div>
    </div>
  </div>
</div>
