.mtb {
	margin-top: 30px;
	margin-bottom: 30px;
}

.mb {
	margin-bottom: 30px;
}

.mt {
	margin-top: 30px;
}

.hline-w {
	border-bottom: 2px solid @white;
	margin-bottom: 25px;
}

.dark-blue {
  color: @darkBlue !important;
}
