.transition(@what: all, @time: .5s, @type: linear) {
  -webkit-transition: @what @time @type;
	   -moz-transition: @what @time @type;
	     -o-transition: @what @time @type;
	    -ms-transition: @what @time @type;
	        transition: @what @time @type;
}
