@import "_variables";
@import "_mixins";

@import "_footer";
@import "_about";
@import "_main-banner";
@import "_forms";
@import "_nav";
@import "_helpers";


/*
 * Defaults
 */
body {
	margin: 0;
	height: 100%;
	color: @darkBlue;
	font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
}

p {
  font-size: 16px;
}

img {
	height: auto;
	max-width: 100%;
}

a {
	padding: 0;
	margin: 0;
	text-decoration: none;
	.transition;
}

a:hover,
a:focus {
  text-decoration: none;
  color: @mediumBlue;
}

::-moz-selection  {
	color: @white;
	text-shadow: none;
	background: @lightBlue;
}
::selection {
	color: @white;
	text-shadow: none;
	background: @lightBlue;
}

.page-title {
  font-size: 3em;
  margin-bottom: 30px;
}

/*
 * Page content
 */
.content-blue {
  background: @lightBlue;
  padding: 50px;
}

/*
 * Main categories in the index page
 */
.main-categories {
  .main-category {
    background-position: center center;
    background-size: cover;
    padding: 0;

    &:hover {
      background-size: 120%;

      .main-category-title {
        background: @lightBlue;
      }
    }
  }

  .main-category-title {
    color: @white;
    background: @blue;
    margin: 0 0 20px 0;
    padding: 8px;
    .transition();
  }

  .main-category-link {
    display: block;
    min-height: 300px;
    text-align: center;
  }
}
