.navbar {
	min-height: 70px;
	padding-top: 10px;
	margin-bottom: 0px;
}

.navbar-header .navbar-brand {
	color: white;
}

.navbar-nav {
  text-transform: uppercase;
}

.navbar-default .navbar-nav > li > a {
	color: white;
	font-size: 12px;
	letter-spacing: 1px;
}

.navbar-default .navbar-nav > li > a:hover {
	color: #00b3fe;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #00b3fe;
	background-color: transparent;
}

.navbar-default {
	background-color: #334960;
	border-color: transparent;
}

.fale-conosco-form {
  margin: 40px;
}
