@import url("lib/prettyPhoto.css") screen;
@import url("lib/hoverex-all.css") screen;

body {
	margin: 0;
	height: 100%;
	color: #384452;
	font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
}

p {
	padding: 0;
	margin-bottom: 12px;
	font-size: 16px;
	line-height: 24px;
	color: #384452;
	margin-top: 10px;
}

img {
	height: auto;
	max-width: 100%;
}

a {
	padding: 0;
	margin: 0;
	text-decoration: none;
	-webkit-transition: background-color .4s linear, color .4s linear;
	-moz-transition: background-color .4s linear, color .4s linear;
	-o-transition: background-color .4s linear, color .4s linear;
	-ms-transition: background-color .4s linear, color .4s linear;
	transition: background-color .4s linear, color .4s linear;
}

a:hover,
a:focus {
  text-decoration: none;
  color:#01b2fe;
}

::-moz-selection  {
	color: #fff;
	text-shadow:none;
	background:#2B2E31;
}
::selection {
	color: #fff;
	text-shadow:none;
	background:#2B2E31;
}

.centered {
	text-align: center
}

/*	################################################################
	BOOTSTRAP MODIFICATIONS & TWEAKS
################################################################# */
.navbar {
	min-height: 70px;
	padding-top: 10px;
	margin-bottom: 0px;
}

.navbar-header .navbar-brand {
	color: white;
}

.navbar-nav {
  text-transform: uppercase;
}

.navbar-default .navbar-nav > li > a {
	color: white;
	font-size: 12px;
	letter-spacing: 1px;
}

.navbar-default .navbar-nav > li > a:hover {
	color: #00b3fe;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #00b3fe;
	background-color: transparent;
}

.navbar-default {
	background-color: #384452;
	border-color: transparent;
}

.mtb {
	margin-top: 30px;
	margin-bottom: 30px;
}

.mb {
	margin-bottom: 30px;
}

.mt {
	margin-top: 30px;
}

.hline {
	border-bottom: 2px solid #384452;
}

.hline-w {
	border-bottom: 2px solid #ffffff;
	margin-bottom: 25px;
}


/*	################################################################
	SITE WRAPS
################################################################# */
.headerwrap {
	background-color: #00b3fe;
	min-height: 550px;
	padding-top: 100px;
	padding-bottom: 0px;
	text-align: center;
}

.headerwrap h3, h5 {
	color: white;
	font-weight: 400;
}

.headerwrap h1 {
	color: white;
	margin-bottom: 25px;
}

.headerwrap .img-responsive {
	margin: 0 auto;
}

.head-fale-conosco {
  background: url(../img/fale-conosco.jpg) no-repeat center top;
  background-size: cover;
  min-height: 380px;
}

.fale-conosco-form {
  margin: 40px;
}


/* Services Wrap */
#service {
	margin-top: 100px;
	margin-bottom: 80px;
}

#service i {
	color: #00b3fe;
	font-size: 60px;
	padding: 15px;
}


/* Footer */
.footer {
	padding: 30px 0;
	background: #384452;
}

.footer p {
	color: #bfc9d3;
}

.footer h4 {
	color: white;
}

.footer i {
	font-size: 30px;
	color: #bfc9d3;
	padding-right: 25px;
}

.footer i:hover {
	color: #00b3fe
}

/*	################################################################
	PAGE CONFIGURATIONS
################################################################# */
/* General Tweaks */

#blue {
	background: #00b3fe;
	margin-top: 60px;
	margin-bottom: 60px;
	padding-top: 25px;
	padding-bottom: 25px;
}

#blue h3 {
	color: white;
	margin-left: 15px;
}

.ctitle {
	color: #00b3fe;
	font-weight: 700;
	margin-bottom: 15px;
}

csmall {
	font-size: 12px;
	color: #b3b3b3;
}
csmall2 {
	font-size: 12px;
	color: #f39c12
}

.spacing {
	margin-top: 40px;
	margin-bottom: 40px;
}

.badge-theme {
	background: #00b3fe;
}

/* Contact Page */
#contactwrap {
	background: url(../img/contact.jpg) no-repeat center top;
	margin-top: -60px;
	padding-top:0px;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 400px;
	width: 100%;

  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

