<div class="headerwrap">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h1>Kit Desenvolvimento Internet of Things 4G</h1>
        <h2>Telefônica | Vivo</h2>
      </div>
    </div>
  </div>
</div>

<div id="service">
  <div class="container">
    <div class="row centered">
      <div class="col-md-3">
        <i class="fa fa-heart-o"></i>
        <h4>O equipamento</h4>
        <p>Baseado na plataforma de prototipagem eletrônica livre Arduíno, foi desenvolvido um shield com sensores de luminosidade, contato, temperatura e luz.</p>
      </div>

      <div class="col-md-3">
        <i class="fa fa-flask"></i>
        <h4>A linguagem</h4>
        <p>Uma biblioteca em JavaScript (node.js) foi criada para simplificar o acesso aos sensores pelos desenvolvedores e enviar os dados diretamente a uma plataforma baseada na nuvem.</p>
      </div>

      <div class="col-md-3">
        <i class="fa fa-trophy"></i>
        <h4>A nuvem</h4>
        <p>Os dados são enviados a uma plataforma de alta performance escalável, que foi desenvolvida para ser flexível e modular para facilitar a construção de aplicações M2M baseadas em dados em tempo real.</p>
      </div>

      <div class="col-md-3">
        <i class="fa fa-trophy"></i>
        <h4>A conectividade</h4>
        <p>Utilizando a mais avançada tecnologia 4G, o kit de desenvolvimento envia dados em tempo real para uma nuvem permitindo ao usuário acessá-los de qualquer lugar.</p>
      </div>
    </div>
  </div>
</div>

<%- partial("partials/_gallery") %>
