<div  class="main-banner main-banner-kit-iot-4g">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="main-banner-title"><%= description %></h1>
        <a href="http://www.youtube.com/watch?v=3v5i5rodM3M" class="btn btn-lg btn-success mt fancybox-media">
          <i class="icon-youtube"></i> Assista ao vídeo
        </a>
      </div>
    </div>
  </div>
</div>

<%- partial("../partials/_about", { about: public['kit-iot-4g']._data.about }) %>

<%- partial("../partials/_docs", { docs: public['kit-iot-4g']._data.docs }) %>

<%- partial("../partials/_gallery", { photos: public['kit-iot-4g']._data.photos }) %>
