<div class="main-banner main-banner-kit-iot-wearable">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h1 class="main-banner-title">Kit Desenvolvimento Internet of Things</h1>
        <h2 class="main-banner-subtitle">Kit Wearable v.3</h2>
      </div>
    </div>
  </div>
</div>

<%- partial("../partials/_about", { about: public['kit-iot-wearable']._data.about }) %>

