<div class="main-banner main-banner-kit-iot-wearable">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h1 class="main-banner-title">Kit Desenvolvimento Internet of Things</h1>
        <h2 class="main-banner-subtitle">Kit Wearable v.3</h2>
      </div>
    </div>
  </div>
</div>

<div id="o-que-e" class="about">
  <h2 class="text-center page-title">O que é?</h2>
  <div class="container">
    <div class="row text-center">
      <div class="col-md-4">
        <img src="<%= base %>assets/img/kit-iot-wearable/arduino.png">
        <h4 class="about-title">O equipamento</h4>
        <p>Baseado na plataforma de prototipagem eletrônica livre Arduíno, foi desenvolvido um shield com sensores de luminosidade, contato, temperatura e luz.</p>
      </div>

      <div class="col-md-4">
        <img src="<%= base %>assets/img/kit-iot-wearable/cloud.png">
        <h4 class="about-title">A nuvem</h4>
        <p>Os dados são enviados a uma plataforma de alta performance escalável, que foi desenvolvida para ser flexível e modular para facilitar a construção de aplicações M2M baseadas em dados em tempo real.</p>
      </div>

      <div class="col-md-4">
        <img src="<%= base %>assets/img/kit-iot-wearable/bluetooth.png">
        <h4 class="about-title">A conectividade</h4>
        <p>Utilizando Bluetooth Low Energy (BLE), o kit de desenvolvimento envia dados em tempo real para uma nuvem permitindo ao usuário acessá-los de qualquer lugar.</p>
      </div>
    </div>
  </div>
</div>

<%- partial("partials/_gallery") %>
