<div class="main-banner main-banner-kit-iot">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h1 class="main-banner-title">Kit Desenvolvimento Internet of Things</h1>
        <h2 class="main-banner-subtitle">v.1</h2>
        <a href="http://www.youtube.com/watch?v=MXSGkJV8mao" class="btn btn-lg btn-success mt fancybox-media">
          <i class="icon-youtube"></i> Assista ao vídeo
        </a>
      </div>
    </div>
  </div>
</div>

<%- partial("../partials/_about", { about: public['kit-iot']._data.about }) %>

<div id="documentacao" class="content-blue">
  <h2 class="text-center page-title">Documentação</h2>
  <h3 class="text-center white">Pins utilizados</h3>
  <div class="text-center">
    <img src="<%= base %>assets/img/kit-iot/arduinoBoard.jpg">
  </div>
</div>

