<div class="main-banner main-banner-fale-conosco">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h1 class="main-banner-title">Fale conosco</h1>
        <h2 class="main-banner-subtitle dark-blue">Tem alguma dúvida ou quer saber mais alguma informação sobre nossos Kits</h2>
      </div>
    </div>
  </div>
</div>

<div class="form-fale-conosco">
  <h4 class="mb">Diga-nos seu nome e e-mail e teremos o prazer de lhe fornecer mais informações sobre os nossos Kits Desenvolvimento IoT.</h4>

  <form role="form">
    <div class="form-group">
      <label for="name">Nome *</label>
      <input type="text" name="nome" class="form-control" id="name" required>
    </div>

    <div class="form-group">
      <label for="sobrenome">Sobrenome *</label>
      <input type="text" name="sobrenome" class="form-control" id="sobrenome" required>
    </div>

    <div class="form-group">
      <label for="email">Email *</label>
      <input type="email" name="email" class="form-control" id="email" required>
    </div>

    <div class="form-group">
      <label for="mensagem">Message</label>
      <textarea class="form-control" name="mensagem" id="mensagem" rows="5"></textarea>
    </div>

    <button type="submit" class="btn btn-block btn-lg btn-success">Enviar mensagem</button>
  </form>
</div>
